body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: #DEDBD2;
}

p a {
    color: #11151C;
    font-weight: 300;
}

p a:hover{
    color: #8c0505;
}

a {
    color: #8c0505;
    font-weight: bold;
    transition: 0.3s all;
}

a:hover{
    color: #11151C;
}

h1{
    color: #11151C;
}


h2{
    background-color: #11151C;
    padding: 20px;
    color: white;
    width: max-content;
}

button{
    color: white;
    background-color: #11151C;
    border: none;
    padding: 10px 15px;
    border-radius: 15px;
    border: 2px solid #11151C;
    font-weight: bold;
    transition: 0.3s all;
}

button:hover,button:focus{
    color: #11151C;
    background-color: white;
    border: 2px solid #11151C;
}

.keuze1 {
    background-color: #8c0505;
    border: 2px solid #8c0505;
}

.textKeuze1 {
    color: #8c0505;
}

.keuze2{
    background-color: #1e658f;
    border: 2px solid #1e658f;
}

.textKeuze2 {
    color: #1e658f;
}

p.keuze {
    padding-left: 10px;
    margin: 0;
}