<%- include('./partials/head') %>


    <h1>Admin</h1>

    <% for (key in data) { %>
        <p><a href="/admin<%- key %>"><%- data[key]["vraag"]["titel"] %></a></p>

    <% } %>

    <a href="/vraag">Vraag toevoegen</a>

    </br> </br>

    <%- include('./partials/foot') %>