<!DOCTYPE html>
<html>
<head>
<title>poll</title>
</head>
<body>

    <h1>Admin</h1>

    <% for (key in data) { %>
        <a href="/admin<%- key %>"><p><%- data[key]["vraag"]["titel"] %></p></a>

    <% } %>

    <a href="/vraag">Vraag toevoegen</a>

    </br> </br>

</body>
</html>