<%- include('./partials/head') %>


    <h1>Admin</h1>

    <% for (key in data) { %>
        <a href="/admin<%- key %>"><p><%- data[key]["vraag"]["titel"] %></p></a>

    <% } %>

    <a href="/vraag">Vraag toevoegen</a>

    </br> </br>

    <%- include('./partials/foot') %>