<!DOCTYPE html>
<html>
<head>
<title>poll</title>
</head>
<body>

    <form action="" method="POST">
        <div>
          <label for="say">Wat is vraag 1?</label>
          <input name="vraag" id="vraag" value="Vraag 1">
        </div>
      </br>
        <div>
          <label for="to">Andwoord1</label>
          <input name="andwoord1" id="andwoord-1"  value="Andwoord-1">
        </div>
      </br>
        <div>
            <label for="to">Andwoord2</label>
            <input name="andwoord2" id="andwoord-2"  value="Andwoord-2">
          </div>
        <div>
        </br>
          <button>Vraag toevoegen</button>
        </div>
      </form>

    </br>

      <a href="/admin">Vragen overzicht</a>


</body>
</html>