<!DOCTYPE html>
<html>
<head>
<title>poll</title>
</head>
<body>

    <form action="" method="POST">
          <label for="say">Wat is vraag 1?</label>
          <input name="vraag" id="vraag" value="Stel hier een vraag">
      </br> </br>
          <label for="to">Andwoord1</label>
          <input name="andwoord1" id="andwoord-1"  value="Keuze1">
      </br> </br>
          <label for="to">Andwoord2</label>
          <input name="andwoord2" id="andwoord-2"  value="Keuze2">
        </br> </br>
          <button>Vraag toevoegen</button>
      </form>
    </br>
      <a href="/admin">Vragen overzicht</a>


</body>
</html>